.navbar {
    background: rgb(234, 246, 255);
}

.navbar-brand img {
    width: 60px;
}

.nav-link {
    font-size: 1.15rem;
}

.selected {
    color: rgb(0, 76, 255) !important;
    font-weight: 500;
}

.logged-in {
    font-weight: 500;
    font-size: 1rem;
}

.user {
    margin-right: 10px;
    font-weight: bold;
    color: rgb(34, 95, 236);
}

.btn-logout {
    color: #fff;
    font-size: 0.9rem;
    border: 0;
    background-color: rgb(85, 108, 255);
}